.background-main{
    -fx-background-color : #212121 !important;
}

.background-title{
    -fx-background-color: #304ffe !important;
}

.background-anchor-table{
    -fx-background-color: #e1e2e1 !important;
}

.ui-gradient-fresh{
    -fx-background-color: linear-gradient(to right, #0575E6, #00F260) !important;
}

.ui-gradient-hot{
    -fx-background-color: linear-gradient(to right, #f5af19, #f12711) !important;
}

.btn-success{
    -fx-background-color: #28a745;
}

.btn-info{
    -fx-background-color: #17a2b8;
}

.btn-danger{
    -fx-background-color: #dc3545;
}

.ui-gradient-frost{
    -fx-background-color: linear-gradient(to left, #004e92, #000428);
}